.bag-cantainer {
  height: 90vh;
  /* width: 100vw; */
  display: flex;
  /* background-color: aqua; */
  background-image: url("/src/image/bagsStatus.jpg");
  background-size: cover;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* object-fit: contain; */
  padding-top: 100px;
}
.bags-select{
  border-radius: 20px;
  padding: 5px 5px 5px 5px;
}
.bags-form {
  margin-left: 300%;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.top-bag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 30%;
  margin-left: 10%;
  margin-top: 20px;
}
.bags-input {
  font-weight: 400;
  border-radius: 20px;
  padding: 5px;
}
.bags-label {
  font-weight: 500;
  margin-top: 10px;
}
/* From Uiverse.io by vinodjangid07 */ 
.addbag-btn {
    width: 140px;
    height: 40px;
    margin-top: 20px;
    margin-left: 40px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to right,#77530a,#ffd277,#77530a,#77530a,#ffd277,#77530a);
    background-size: 250%;
    background-position: left;
    color: #ffd277;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 1s;
    overflow: hidden;
  }
  
  .addbag-btn::before {
    position: absolute;
    content: "Add Bags";
    color: #ffd277;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 90%;
    border-radius: 8px;
    transition-duration: 1s;
    background-color: rgba(0, 0, 0, 0.842);
    background-size: 200%;
  }
  
  .addbag-btn:hover {
    background-position: right;
    transition-duration: 1s;
  }
  
  .addbag-btn:hover::before {
    background-position: right;
    transition-duration: 1s;
  }
  
  .addbag-btn:active {
    transform: scale(0.95);
  }